* {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    
}

.main-container {

    flex-direction: row;
    display: flex;
}


@media (max-width: 700px) {
    .main-container {
      flex-direction: column;
    }
  }
  
