.chat-window {
    background-color: skyblue;

    padding-bottom: 50px;
    margin: 0px;
    max-width: 30%;
}

.chat-window > h2 {
    background-color: blue;
    color: white;
    margin: 0px;
}

.nav-wrapper {
    display: flex;
    align-items: right;
}

.auth-controls {
    list-style-type:none;
}