.chat-window {
  background-color: #3FC1C9;
  padding-bottom: 50px;
  margin: 0px;
  flex: 2;
  /* float: left;
  width: 30%; */
}

.chat-window > h2 {
  background-color: #FFF5F5;
  color: #FFF5F5;
  margin: 0px;
}

.chatWindow {
  min-height: 220px;
  max-height: 220px;
  margin-bottom: 10px;
  background-color: #FFF5F5;
  color: #364F6B;
  list-style-type: none;
  overflow: scroll;
}

.listOfMessages {
    background-color: #FFF5F5;
    padding-right: 20px;
    line-height: 1.4;
}

.isTyping > p {
    line-height: 1.1;
    font-size: 12px;
    text-align: left;
    margin-left: 25px;
    position:absolute;
    margin-top: 190px;
    color: #364F6B;
}

input {
  font-size: 20px;
  margin: 7px;
}