.chat-window {
    background-color: skyblue;

    padding-bottom: 50px;
    margin: 0px;
    max-width: 30%;
}

.chat-window > h2 {
    background-color: blue;
    color: white;
    margin: 0px;
}

#chatWindow {
    min-height: 220px;
    margin-bottom: 10px;
    background-color: whitesmoke;
}