
.header{
    background-color: #2ED1D1;
    color: white;
    font-size: 30px;
    border-bottom: .5px solid black;
}

a {
    color: #FFF5F5;
    text-decoration: none;
}


.header a:hover {
    background-color: #FC5185;
}
a:visited {
    color: #FFF5F5;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #364F6B;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.appName{

    text-align: left;

}
.active {
    background-color:#3FC1C9;
    }