.main-window {
    background-color: #364F6B;
    color: #F5F5F5;
    display: flex;
    flex: 3;
    min-width: 900px;
}
.main-window > p {
    padding: 50px;
}
.rendered-main-window-container {
    background-color: #364F6B;
}

.back-button {
    background-color: #364F6B;
    border: 1px solid white;
    color: white;
    margin-top: 15px;
    padding: 10px;
}

.item-overview {
    padding-left: 40px;
    padding-right: 20px;
}
.item-overview > p, h2 {
    padding-left: 10px;
    text-align: left;
}

.item-overview > img {
    max-width: 350px;
}

table {
    margin-top: 120px;
    width: 100%;
}

th, td {
    padding: 5px;
    text-align: left;
}