.wish-list {
    background-color: #32C3C3;
    flex:1;
    /* float: left;
    width: 30%; */
}

.wish-list ul {
    list-style-type: none;
    padding: 0px;
}

.wish-list li {
    text-align: left;
}

.add-item-modal {
 padding-bottom: 100px;
 padding-top: 20px; 
}

.add-item-modal > h2 {
    text-align: center;
}


.close-button {
    background-color: red;
    margin: 10px 0px;
    padding: 5px;
}